* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 50px 220px;
}
