$Peach: #e7816b;
$BLACK: #1d1c1e;
$WHITE: #ffffff;
$LIGHT_PEACH: #ffad9b;
$DARK_GREY: #333136;
$LIGHT_GREY: #f1f3f5;

// h1

$h1-font-siez: 48px;
$h1-lain-hait: 48px;

// h2

$h2-font-siez: 40px;
$h2-lain-hait: 48px;

// h3

$h3-font-siez: 20px;
$h3-lain-hait: 26px;

// p

$p-font-siez: 16px;
$p-lain-hait: 26px;
